.team-container {
  padding-top: 100px;
  background-image: url(../../assets/images/team/bg.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team-content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.team-title {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.team-content-top h1 {
  color: #000;
  text-align: center;
  font-family: "Rethink Sans";
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 68.8px */
  margin-top: -28px;
}

.team-content-top p {
  color: #000;
  text-align: center;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}

.team-content-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.team-content-bottom-item {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  height: 373px;
  overflow: visible;
  gap: 40px; /* 요소들 사이 간격 */
  padding: 0 120px; /* 좌우 패딩 */
}

#vak {
  background-image: url(../../assets/images/team/card_vak_bg.svg);
}

#mike {
  background-image: url(../../assets/images/team/card_mike_dusi_bg.svg);
}

.team-content-bottom-item img {
  width: 456px;
  height: 494px;
  width: auto;
  object-fit: cover;
}

.team-content-bottom-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  height: 100%;
}

.team-content-bottom-item-content h2 {
  color: #fff;
  font-family: Urbanist;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 128px */
}

.team-content-bottom-item-content p {
  color: #fff;
  font-family: Urbanist;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.team-content-bottom-item button {
  align-self: center;
}

.team-content-bottom-item button img {
  border-radius: 100%;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* reverse 클래스를 위한 새로운 스타일 */
.team-content-bottom-item.reverse {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.team-content-bottom-item.reverse img {
  right: 0;
  left: auto;
}

.team-content-bottom-item.reverse .team-content-bottom-item-content {
  right: auto;
  left: 100px;
  text-align: left;
}
